<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="cubes.css">
</head>
<body>
<div class="container page">
    <div class="row">
        <div class="col-md-6 col-print-6">
            <h1>{{ name }}<br/>{{ title }}</h1>
            <p>
                <time datetime="{{ buildinfo.date }}" class="text-muted">Last update: {{ updated }}</time>
            </p>
            <p>
                <span class="screen"><a href="{{ pdfFileName }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download PDF version</a></span>
                <span class="print">Online version (with some more stuff): <a href="{{ baseUrl }}" class="text-nowrap"><i
                    class="fa fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
            </p>
        </div>
        <div class="col-md-6 col-print-6">
            <dl class="row">
                {{#each facts}}
                <dt class="col-md-3">[{{ @key }}]</dt>
                <dd class="col-md-9">{{{ this }}}</dd>
                {{/each}}
                <dt class="col-md-3 screen">[cube]</dt>
                <dd class="col-md-9 screen">
                    <div class="cubes">
                        <div class="loader">
                            <div class="onplacebox revbox"></div>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>

    <div class="print">
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="print">What I use / love to work with</h2>
            <div>
                {{#each skills}}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>

    <br>
    <br>

    <h2>Education</h2>
    <div class="card mt-4">
        <div class="card-body">
            {{#each education}}
            <p> - {{ title }} @ {{ at }}</p>
            {{/each}}
        </div>
    </div>

    <br>
    <br>
    <br>


    <h2>Research Projects</h2>
    <br>
    {{#each research}}
    <div class="card mb-4">
        <div class="card-body">
            <h3>{{ title }}</h3>
            <p class="text-muted">{{ written }}</p>

            <div class="text-justified">{{{markdown contents }}}</div>

            <div>
                {{#each badges }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}

    <br>

    <h2>Publications</h2>
    <div class="card mt-4">
        <div class="card-body">
            <ul>
                {{#each papers}}
                <li>
                    <div class="mb-2"><strong>{{ title }}</strong></div>
                    <div class="mb-2">{{ authors }} - {{ when }}</div>

                    {{{markdown meta }}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <br>
    <br>

    <h2>Experience</h2>
    {{#each experience}}
    <div class="card mt-4">
        <div class="card-body">
            <div class="mb-2"><strong>{{ header }}</strong></div>

            {{{markdown contents }}}

            <div>
                {{#each skills }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}

    <br>
    <br>

    <div class="screen">
        <h2>Other personal CS Projects</h2>
        {{#each otherProjects}}
        <div class="card mb-4">
            <div class="card-body">
                <h3>{{ title }}</h3>
                <p class="text-muted">{{ when }} - <a href="{{ url }}"><i
                    class="fa fa-github" aria-hidden="true"></i>GitHub repo</a></p>

                <div class="text-justified">{{{markdown content }}}</div>


                <div class="screen autoimg">{{{markdown media}}}</div>
                <div>
                    {{#each badges }}
                    <span class="badge badge-primary">{{ this }}</span>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <br>


    <h2>Last book I read</h2>
    <div class="card mt-4">
        <div class="card-body">
            <p> => {{{ lastBook.title }}} by {{{ lastBook.by }}}</p>
        </div>
    </div>

    <br>
    <br>

    <h2>Hobbies</h2>
    <div class="card mt-4">
        <div class="card-body">
            I used to compose electronic music a while ago, under the pseudonym Parsley Joe. <a
            href="https://www.youtube.com/watch?v=1JTqyTbnJMk">Listen</a>
        </div>
    </div>

    <br>
    <br>

    <h2>this.describe()</h2>
    <div class="card mt-4">
        <div class="card-body">
            <div class="screen">
                This page was created by an automated tool that I created with Node.
                When I update the data and push it to the repo, this page and the PDF are automagically
                generated.
                Oh, and this is rendered by your browser from some <i>pure</i> CSS3 that I wrote:
                <br>
                <div class="cubes">
                    <div class="loader">
                        <div class="onplacebox"></div>
                    </div>
                </div>

                <a href="https://github.com/ParsleyJ/mycv">[let me see the repo]</a>
            </div>
            <div class="print">
                This PDF was created by an automated tool that I created with Node.
                When I update the data and push it to the repo, this PDF and the online page are automagically
                generated.
                <a href="https://github.com/ParsleyJ/mycv">[let me see the repo]</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>
