@font-face {
    font-family: 'jetbrains_monomedium';
    src: url('jetbrainsmono-medium-webfont.eot');
    src: url('jetbrainsmono-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('jetbrainsmono-medium-webfont.woff2') format('woff2'),
    url('jetbrainsmono-medium-webfont.woff') format('woff'),
    url('jetbrainsmono-medium-webfont.ttf') format('truetype'),
    url('jetbrainsmono-medium-webfont.svg#jetbrains_monomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: "jetbrains_monomedium", serif;
    background-color: #ffffff;
}


.text-justified{
    text-align: justify;
    text-justify: inter-word;
}

.badge-primary{
    background-color: #4dbb0c;
}

a {
    color: #4dbb0c
}


    img {
        max-width: 100%;
        height: auto;
    }


@media print {
    body {
        background-color: #ffffff;
        font-size: 19px;
    }

    .screen {
        display: none;
    }

    .card {
        border: none;
    }

    .card-body {
        padding: 0;
    }

    .badge {
        border: 0.07rem solid #868e96;
    }

    .badge-primary {
        color: inherit;
        background-color: inherit;
    }


}

.text-muted2 {
    color: #898989 !important;
}

@media not print {
    .print {
        display: none;
    }

    @media (min-width: 576px) {
        .page {
            background-color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 1px 1px 10px 0 #4dbb0cff;
            position: relative;
            padding: 32px;
        }
    }

    h1, h2, h3, h4 {
        font-weight: 300;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    dt {
        font-weight: normal;
    }

    strong {
        font-weight: 500;
    }
}

a .fa {
    text-decoration: none !important;
    margin-right: 5px;
}

.badge {
    font-weight: normal;
    letter-spacing: 0.05rem;
}

@media print {
    .col-print-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-print-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-print-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-print-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-print-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-print-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-print-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-print-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-print-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-print-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-print-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-print-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
